.info-heading {
    font-size: 22px;
    letter-spacing: 2.5px;
    margin-top: 35px;
    margin-left: 10px;
}

.info-body {
    margin: 20px 45px 0px 10px;
    color: $colorDarkGrey;
    font-size: 16px;
    letter-spacing: 1px;
}