* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: white;
}

.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(245,245,245);
}

.nav-button {
    display: inline;
}

.nav-button > a.nav-link:link,
.nav-button > a.nav-link:visited {
    color: grey;
    font-family: 'PT Sans', sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-button > a.nav-link:hover,
.nav-button > a.nav-link:active {
    color: black;
}

.header-img {
background: url(https://unsplash.it/2000/3375?image=910&blur);
background-size: cover;
background-position: 0% 60%;
padding: 150px;
color: white;
text-align: center;
text-shadow: 1px 1px black;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.column {
    flex: 1;
}

.price-box {
    text-align: center;
    color: white;
    margin: 15px 15px 0px 15px;
}

.price-box-green {
    background-color: rgb(69,130,56);
    padding-top: 20px;
    padding-bottom: 20px;
}

.price-box-blue {
    background-color: rgb(33,53,118);
    padding-top: 20px;
    padding-bottom: 20px;
}

.price-box-black {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.price {
    font-size: 90px;
    padding-top: 5px;
}

.per-month {
    opacity: 0.5;
}

.price-columns {
    border: .5px solid rgb(213,213,213);
    background: rgb(245,245,245);
    padding: 10px;
    text-align: center;
    color: rgb(91,102,107);
}

.price-info {
    margin: 0px 15px 0px 15px;
}

.choose-button {
    text-align: center;
    background: white;
    border: .5px solid rgb(213,213,213);
    padding: 15px;
}

button {
    background: white;
    border: 1px solid rgb(213,213,213);
    font-size: 14px;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.info-heading {
    font-size: 22px;
    letter-spacing: 2.5px;
    margin-top: 35px;
    margin-left: 10px;
}

.info-body {
    margin: 20px 45px 0px 10px;
    color: rgb(91,102,107);
    font-size: 16px;
    letter-spacing: 1px;
}

footer {
    background: black;
    color: lightgrey;
    font-size: 11px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

a:link,
a:visited {
    color: white;
}