// variables

$fontPTSans: 'PT Sans', sans-serif;
$colorLightGrey: rgb(245,245,245);
$colorGrey: rgb(213,213,213);
$colorDarkGrey: rgb(91,102,107);
$colorGreen: rgb(69,130,56);
$colorBlue: rgb(33,53,118);
$colorBlack: black; 
$colorWhite: white;
$headerImage: url(https://unsplash.it/2000/3375?image=910&blur);

// partials

@import 'topNav';
@import 'priceBox';
@import 'info';

// components

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: $fontPTSans;
    background: $colorWhite;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.column {
    flex: 1;
}

footer {
    background: $colorBlack;
    color: lightgrey;
    font-size: 11px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

a:link,
a:visited {
    color: $colorWhite;
}